{# src/Blogger/BlogBundle/Resources/views/Edit/show.html.twig #}
{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block title %}Post new blog{% endblock%}

{% block body %}
    <header>
        <h1>Choose image</h1>
    </header>
        <img src="{{ asset(['uploads/documents/', blog_id,'.jpeg']|join) }}"/>
    
    {# a침ado bot칩n continuar con imagen antigua #}
            <div class="continue">
                    <a href="{{ path('BloggerBlogBundle_create_post', { 'picture_id' : blog_id }) }}"><p>Continuar con esta imagen</p></a>   {# pasar id del blog para mostrar formulario del blog relleno con ese post #} 
            </div>
        {# a침ado bot칩n editar #}
    
    {% for flashMessage in app.session.flashbag.get('picture-notice') %}
    {{ flashMessage }}
    {% endfor %}
    
    <p>Or select a new photo for your post</p>
    {% include 'BloggerBlogBundle:Upload:form.html.twig' with { 'picture_form': picture_form, 'picture_id' : blog_id } %}
{% endblock %}