{# src/Blogger/BlogBundle/Resources/views/Post_Edit/show.html.twig #}
{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block title %}Post{% endblock%}

{% block body %}
    <header>
        <h1>Post in symblog</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('post-notice') %}
    {{ flashMessage }}
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('picture-notice') %}
    {{ flashMessage }}
    {% endfor %}
    
    <p>Edit your post</p>
    {% include 'BloggerBlogBundle:Post_Edit:form.html.twig' with { 'blog_id': blog_id, 'post_form': post_form } %}
{% endblock %}